:root {
    --beige: #FFFAF4;
    --light-grey: #e0e0e0;
    --grey: #53524E;
    --green: #3E3F27;
    --smoke: #11120D;
}

body {
    background-color: var(--beige);
}



.preview-internature {
    background-image: url("../projects/thumbnail/internature/preview-large.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}


.preview-aurorae {
    background-image: url("../projects/thumbnail/aurorae/aurorae-preview-large.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.preview-confort {
    background-image: url("../projects/thumbnail/confort/confort-preview-large.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.preview-deprime {
    background-image: url("../projects/thumbnail/deprime/deprime_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.preview {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.preview-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.6fr 1.5fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 90%;
    height: 90%;
}



.description {
    align-content: flex-start;
    justify-self: flex-start;
}

div.work {
    grid-area: 3 / 1 / 4 / 2;
    justify-self: flex-start;
}

div.softwares {
    grid-area: 3 / 2 / 4 / 3;
    justify-self: center;
}

div.skills {
    grid-area: 3 / 3 / 4 / 4;
    justify-self: center;

}

div.purpose {
    grid-area: 3 / 4 / 4 / 5;
    justify-self: flex-end;
}

.preview .preview-box div p {
    color: var(--grey);
    margin-bottom: 5px;
}

.preview .preview-box div h4 {
    color: var(--beige);
    /*font-size: 16px !important;*/
}

.arrow {
    grid-area: 1 / 1 / 2 / 2;
    width: 20%;
    align-self: center;
}

.arrow img {
    width: 40%;
}

.name-box {
    grid-area: 2 / 1 / 3 / 3;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.project-title {
    width: 100%;
}

a.btn-see-more {
    grid-area: 2 / 1 / 4 / 3;
    margin-left: -20%;
    color: var(--beige);
    border: var(--beige) solid 1px;
    margin-top: 5%;
    padding: 1% 3%;
    justify-self: center;
    align-self: center !important;
    text-transform: uppercase;
    text-align: center;
}

/* responsive*/


@media screen and (max-width: 349px) {
    .preview-internature {
        background-image: url("../projects/thumbnail/internature/internature_big.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 200%;
    }

    /*
    .preview-aurorae {
        background-image: url("../projects/thumbnail/aurorae/aurorae-big.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 180%;
    }*/

    .preview-confort {
        background-image: url("../projects/thumbnail/confort/confort-big.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 180%;
    }

    .preview {
        height: 100vh;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

    }

    .preview-box {
        width: 60vw;
        height: 92vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.2fr auto 1fr repeat(4, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left: 7%;
    }

    .arrow {
        grid-area: 1 / 1 / 2 / 2;
    }

    .name-box {
        grid-area: 2 / 1 / 3 / 4;
        width: 100%;
        margin-bottom: 5px;
    }

    h3.sous-titre {
        font-size: 12px;
    }

    .titre {
        font-size: 48px;
    }

    .btn-see-more {
        grid-area: 3 / 1 / 4 / 4 !important;
        align-self: flex-start !important;
        font-size: 12px;
        margin-left: 0 !important;
    }

    div.description {
        margin-bottom: 12px;
    }

    div.work {
        grid-area: 4 / 1 / 5 / 4;
        justify-self: flex-start;
    }

    div.softwares {
        grid-area: 5 / 1 / 6 / 4;
        justify-self: flex-start;
    }

    div.skills {
        grid-area: 6 / 1 / 7 / 4;
        justify-self: flex-start;
    }

    div.purpose {
        grid-area: 7 / 1 / 8 / 4;
        justify-self: flex-start;
    }
}

@media screen and (min-width: 350px) and (max-width: 374px) {
    .preview-internature {
        background-image: url("../projects/thumbnail/internature/internature_big.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 155%;
    }

    /*
    .preview-aurorae {
        background-image: url("../projects/thumbnail/aurorae/aurorae-big.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 155%;
    }
*/
    .preview-confort {
        background-image: url("../projects/thumbnail/confort/confort-big.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 155%;
    }

    .preview {
        height: 100vh;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        display: flex;

    }
}

@media screen and (min-width: 375px) and (max-width: 409px) {
    .preview-internature {
        background-image: url("../projects/thumbnail/internature/internature_big.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 170%;
    }

    /*
    .preview-aurorae {
        background-image: url("../projects/thumbnail/aurorae/aurorae-big.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 170%;
    }
*/
    .preview-confort {
        background-image: url("../projects/thumbnail/confort/confort-big.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 150%;
    }

    .preview {
        height: 100vh;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        position: relative;
        width: 100vw;
        overflow: hidden;
    }

    iframe.preview-video-horizontal {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 350vw;
        /* Force overflow horizontally */
        height: 100vh;
        transform: translate(-50%, -50%);
        border: none;
        pointer-events: none;
    }

    .preview-box {
        width: 60vw;
        height: 92vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.2fr auto 1fr repeat(4, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left: 7%;
    }

    .arrow {
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
    }

    .name-box {
        grid-area: 2 / 1 / 3 / 4;
        width: 100%;
        margin-bottom: 5px;
    }

    h3.sous-titre {
        font-size: 12px;
    }

    .titre {
        font-size: 48px;
    }

    .btn-see-more {
        grid-area: 3 / 1 / 4 / 4 !important;
        align-self: flex-start !important;
        font-size: 12px;
        margin-left: 0 !important;
    }

    div.description {
        margin-bottom: 12px;
    }

    div.work {
        grid-area: 4 / 1 / 5 / 4;
        justify-self: flex-start;
    }

    div.softwares {
        grid-area: 5 / 1 / 6 / 4;
        justify-self: flex-start;
    }

    div.skills {
        grid-area: 6 / 1 / 7 / 4;
        justify-self: flex-start;
    }

    div.purpose {
        grid-area: 7 / 1 / 8 / 4;
        justify-self: flex-start;
    }
}

@media screen and (min-width: 410px) and (max-width: 474px) {
    .preview-internature {
        background-image: url("../projects/thumbnail/internature/internature_big.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 165%;
    }

    /*
    .preview-aurorae {
        background-image: url("../projects/thumbnail/aurorae/aurorae-big.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 165%;
    }
*/
    .preview-confort {
        background-image: url("../projects/thumbnail/confort/confort-big.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 165%;
    }

    .preview {
        height: 100vh;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

    }

    .preview-box {
        width: 50vw;
        height: 92vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.2fr auto 1fr repeat(4, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left: 7%;
    }

    .arrow {
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
    }

    .name-box {
        grid-area: 2 / 1 / 3 / 4;
        width: 100%;
        margin-bottom: 5px;
    }

    h3.sous-titre {
        font-size: 12px;
    }

    .titre {
        font-size: 48px;
    }

    .btn-see-more {
        grid-area: 3 / 1 / 4 / 4 !important;
        align-self: center !important;
        margin-top: 4% !important;
        font-size: 12px;
        margin-left: 0 !important;
    }

    div.description {
        margin-bottom: 13%;
    }

    div.work {
        grid-area: 4 / 1 / 5 / 4;
        justify-self: flex-start;
    }

    div.softwares {
        grid-area: 5 / 1 / 6 / 4;
        justify-self: flex-start;
    }

    div.skills {
        grid-area: 6 / 1 / 7 / 4;
        justify-self: flex-start;
    }

    div.purpose {
        grid-area: 7 / 1 / 8 / 4;
        justify-self: flex-start;
    }
}

@media screen and (min-width: 475px) and (max-width: 539px) {
    .preview-internature {
        background-image: url("../projects/thumbnail/internature/internature_big.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    /*
    .preview-aurorae {
        background-image: url("../projects/thumbnail/aurorae/aurorae-big.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
*/
    .preview-confort {
        background-image: url("../projects/thumbnail/confort/confort-big.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    .preview {
        height: 100vh;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

    }

    .preview-box {
        width: 50vw;
        height: 92vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.2fr auto 1fr repeat(4, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left: 7%;
    }

    .arrow {
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
    }

    .name-box {
        grid-area: 2 / 1 / 3 / 4;
        width: 100%;
        margin-bottom: 5px;
    }

    h3.sous-titre {
        font-size: 12px;
    }

    .titre {
        font-size: 48px;
    }

    .btn-see-more {
        grid-area: 3 / 1 / 4 / 4 !important;
        align-self: flex-start !important;
        font-size: 12px;
        margin-left: 0 !important;
    }

    div.description {
        margin-bottom: 13%;
    }

    div.work {
        grid-area: 4 / 1 / 5 / 4;
        justify-self: flex-start;
    }

    div.softwares {
        grid-area: 5 / 1 / 6 / 4;
        justify-self: flex-start;
    }

    div.skills {
        grid-area: 6 / 1 / 7 / 4;
        justify-self: flex-start;
    }

    div.purpose {
        grid-area: 7 / 1 / 8 / 4;
        justify-self: flex-start;
    }
}

@media screen and (min-width: 540px) and (max-width: 767px) {
    .preview-internature {
        background-image: url("../projects/thumbnail/internature/internature_big.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    
    .preview-aurorae {
        background-image: url("../projects/thumbnail/aurorae/aurorae-preview-small.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    .preview-confort {
        background-image: url("../projects/thumbnail/confort/confort-big.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    .preview {
        height: 100vh;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

    }

    .preview-box {
        width: 50vw;
        height: 92vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.2fr auto 1fr repeat(4, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left: 7%;
    }

    .arrow {
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
    }

    .name-box {
        grid-area: 2 / 1 / 3 / 4;
        width: 100%;
        margin-bottom: 5px;
    }

    h3.sous-titre {
        font-size: 12px;
    }

    .titre {
        font-size: 48px;
    }

    .btn-see-more {
        grid-area: 3 / 1 / 4 / 4 !important;
        align-self: flex-start !important;
        font-size: 12px;
        margin-left: 0 !important;
    }

    div.description {
        margin-bottom: 13%;
    }

    div.work {
        grid-area: 4 / 1 / 5 / 4;
        justify-self: flex-start;
    }

    div.softwares {
        grid-area: 5 / 1 / 6 / 4;
        justify-self: flex-start;
    }

    div.skills {
        grid-area: 6 / 1 / 7 / 4;
        justify-self: flex-start;
    }

    div.purpose {
        grid-area: 7 / 1 / 8 / 4;
        justify-self: flex-start;
    }
}

@media screen and (min-width: 768px) and (max-width: 820px) {

.preview-internature {
        background-image: url("../projects/thumbnail/internature/preview-small.jpg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: 110%;
    }

    
    .preview-aurorae {
        background-image: url("../projects/thumbnail/aurorae/aurorae-preview-small.jpg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: 110%;
    }

    .preview-confort {
        background-image: url("../projects/thumbnail/confort/confort-preview-small.jpg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: 110%;
    }
    .preview {
        height: 100vh;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

    }

    .preview-box {
        width: 90%;
        height: 92%;
        display: grid;
    }

    .name-box {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .sous-titre {
        margin: 0;
        text-align: end;
    }

    a.btn-see-more {
        align-self: flex-start;
        margin-left: 0%;
        margin-top: 10px;
    }


}

@media screen and (min-width: 821px) and (max-width: 929px) {
    .preview-internature {
        background-image: url("../projects/thumbnail/internature/preview-small.jpg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: 110%;
    }

    
    .preview-aurorae {
        background-image: url("../projects/thumbnail/aurorae/aurorae-preview-small.jpg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: 110%;
    }

    .preview-confort {
        background-image: url("../projects/thumbnail/confort/confort-preview-small.jpg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: 110%;
    }

    .preview {
        height: 100vh;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

    }

    .preview-box {
        width: 50vw;
        height: 92vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.2fr auto 1fr repeat(4, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left: 7%;
    }

    .arrow {
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
    }

    .name-box {
        grid-area: 2 / 1 / 3 / 4;
        width: 100%;
        margin-bottom: 5px;
    }

    h3.sous-titre {
        font-size: 12px;
    }

    .titre {
        font-size: 48px;
    }

    .btn-see-more {
        grid-area: 3 / 1 / 4 / 4 !important;
        align-self: flex-start !important;
        font-size: 12px;
        margin-left: 0 !important;
    }

    div.description {
        margin-bottom: 13%;
    }

    div.work {
        grid-area: 4 / 1 / 5 / 4;
        justify-self: flex-start;
    }

    div.softwares {
        grid-area: 5 / 1 / 6 / 4;
        justify-self: flex-start;
    }

    div.skills {
        grid-area: 6 / 1 / 7 / 4;
        justify-self: flex-start;
    }

    div.purpose {
        grid-area: 7 / 1 / 8 / 4;
        justify-self: flex-start;
    }
}

@media screen and (min-width: 930px) and (max-width: 1229px) {

.preview-internature {
        background-image: url("../projects/thumbnail/internature/preview-small.jpg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: 110%;
    }

    
    .preview-aurorae {
        background-image: url("../projects/thumbnail/aurorae/aurorae-preview-small.jpg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: 110%;
    }

    .preview-confort {
        background-image: url("../projects/thumbnail/confort/confort-preview-small.jpg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: 110%;
    }
    .preview {
        display: flex;
        height: 100vh;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
}

@media screen and (min-width: 1230px) {

    .preview-internature {
        background-image: url("../projects/thumbnail/internature/preview-large.jpg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: 120%;
    }

    .preview-aurorae {
        background-image: url("../projects/thumbnail/aurorae/aurorae-preview-large.jpg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: 120%;
    }

    .preview-confort {
        background-image: url("../projects/thumbnail/confort/confort-preview-large.png");
        background-repeat: no-repeat;
        background-position: left;
        background-size: 120%;
    }

    .preview {
        height: 100vh;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background-position: left;
        background-size: 150%;

    }

    .preview-box {
        display: grid;
    }

    .name-box {
        width: 70%;
    }

    a.btn-see-more {
        grid-area: 3 / 1 / 4 / 2;
        margin: 0;
        margin-top: 3%;
    }

}