:root {
    --beige: #FFFAF4;
    --light-grey: #e0e0e0;
    --grey: #53524E;
    --green: #565448;
    --smoke: #11120D;
}

h2.preprod-header {
    font-size: 85px;
}

/*teamwork*/
.project {
    width: 85vw;
    min-height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projet-box {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    min-height: 100vh;
}

.gal-img {
    width: 100%;
}

.num1 {
    grid-area: 1 / 1 / 2 / 2;
}

.num2 {
    grid-area: 1 / 2 / 2 / 3;
}

.num3 {
    grid-area: 2 / 1 / 3 / 2;
}

.num4 {
    grid-area: 2 / 2 / 3 / 3;
}

.num5 {
    grid-area: 3 / 1 / 4 / 2;
}

.num6 {
    grid-area: 3 / 2 / 4 / 3;
}

.num7 {
    grid-area: 4 / 1 / 5 / 2;
}

.num8 {
    grid-area: 4 / 2 / 5 / 3;
}

.num9 {
    grid-area: 5 / 1 / 6 / 2;
}

.num10 {
    grid-area: 5 / 2 / 6 / 3;
}

.subheader-credits {
    margin-block: 2% 1%;
}

.credits {
    margin-bottom: 5vh;
}

.credits-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
    height: 35vh;
}

.realisation {
    grid-area: 1 / 1 / 2 / 2;
}

.appreciation {
    grid-area: 1 / 2 / 2 / 3;
}

.under-direction {
    grid-area: 2 / 1 / 3 / 2;
}

.technicians {
    grid-area: 2 / 2 / 3 / 3;
}

@media screen and (max-width: 585px) {
    .subheader-video {
        margin-bottom: 2%;
    }

    .image-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 20px;
    }

    .num1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .num2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .num3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .num4 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .num5 {
        grid-area: 5 / 1 / 6 / 2;
    }

    .num6 {
        grid-area: 6 / 1 / 7 / 2;
    }

    .num7 {
        grid-area: 7 / 1 / 8 / 2;
    }

    .num8 {
        grid-area: 8 / 1 / 9 / 2;
    }

    .num9 {
        grid-area: 9 / 1 / 10 / 2;
    }

    .num10 {
        grid-area: 10 / 1 / 11 / 2;
    }
}
