.about {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-content: stretch;
    align-items: flex-end;
    justify-content: space-around;
    margin-bottom: 10%;
}

div.border {
    display: flex;
    border-bottom: 2px var(--green) solid;
    align-self: flex-end;
}

.grid-content {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.1fr 0.25fr;
    grid-column-gap: 150px;
    grid-row-gap: 0px;
    width: 97.4vw;
    height: 70%;
}

.para {
    align-self: flex-end;
}

.picture {
    height: 100%;
    grid-area: 1 / 1 / 6 / 2;
    align-self: center;
}

.name {
    grid-area: 1 / 2 / 2 / 3;
    align-self: center;
}

.name div.subtitle {
    display: flex;
    flex-direction: row;
}

.name p {
    color: var(--smoke);
    margin-right: 10px;

    text-transform: uppercase;
}

.name h1.title {
    color: var(--grey);
}

.text {
    align-self: flex-end;
    grid-area: 2 / 2 / 3 / 3;
    width: 70%;
    text-align: justify;
    color: var(--smoke);
}

.link-cv {
    grid-area: 3 / 2 / 4 / 3;
    color: var(--grey);
}

.about .apps {
    grid-area: 4 / 2 / 5 / 3;
}

.apps .app {
    list-style: none;
    text-decoration: none;
    margin-right: 8px;


}

.about .apps img {
    margin-bottom: 30px;
}

@media screen and (min-width: 200px) and (max-width: 539px) {

    .about {
        width: 90vw;
        min-height: 110vh;
        justify-content: flex-end;
        align-content: flex-end;
        margin-bottom: 40vh;
    }

    .grid-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.6fr 0.8fr 0.2fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 98%;
        height: 90%;
        justify-items: center;
        align-items: center;
        margin-top: 5%;
    }

    .picture {
        grid-area: 2 / 1 / 3 / 2;
        width: 70%;
        align-self: center;
    }

    .name {
        grid-area: 1 / 1 / 2 / 2;
    }


    .name .subtitle p {
        margin-left: 1px;
    }

    .para {
        grid-area: 3 / 1 / 4 / 2;
        width: 70%;
    }

    .text {
        width: 100%;
        margin-block: 2% 1%;
        align-self: center;
        justify-self: center;

    }

    .link-cv {
        text-decoration: underline;
        justify-self: center;

    }

    .about .apps {
        grid-area: 4 / 1 / 5 / 2;
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-content: flex-end;
        border-bottom: 2px var(--green) solid;
        justify-self: center;
    }

    .about .apps img {
        width: 100%;
    }

    .apps .app {
        margin-right: 0px;
    }

    .about .apps img {
        margin-bottom: 20px;
    }

    .title {
        margin-bottom: 4% !important;
        align-self: center;
    }

    .about div.border {
        grid-area: 4 / 1 / 5 / 2;
        display: flex;

        justify-content: flex-end;
        z-index: 4;

    }

}

@media screen and (min-width: 540px) and (max-width: 639px) {

    .about {
        width: 95vw;
        min-height: 100vh;
        justify-self: flex-end;
    }

    .grid-content {
        display: grid;
        grid-template-columns: 0.8fr 0.6fr;
        grid-template-rows: 0.2fr 0.6fr 0.8fr 0.2fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        width: 100%;
        height: 80%;
        justify-items: center;
        align-items: center;
        margin-top: 5%;
    }

    .title {
        margin-bottom: 0 !important;
    }

    .picture {
        grid-area: 2 / 1 / 5 / 2;
        width: 100%;
        height: auto;
        align-self: flex-end;
    }

    .name {
        grid-area: 1 / 1 / 2 / 3;
        justify-self: flex-start;
    }


    .name .subtitle p {
        margin-left: 1px;
    }

    .para {
        grid-area: 3 / 2 / 4 / 3;
        width: 100%;
    }

    .text {
        width: 95%;
        margin-block: 2% 1%;
        align-self: center;
        justify-self: flex-start;

    }

    .link-cv {
        text-decoration: underline;
        justify-self: center;

    }

    .about .apps {
        grid-area: 4 / 2 / 5 / 3;
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-self: flex-start;
        align-self: center;
    }

    .about .apps img {
        width: 100%;
    }

    .apps .app {
        margin-right: 10px;
    }

    .about .apps img {
        margin-block: 10px 18px;
    }

    .border {
        border-bottom: 2px var(--green) solid;
        width: 100%;
        grid-area: 4 / 2 / 5 / 3;
    }
}

@media screen and (min-width: 650px) and (max-width: 749px) {
    .grid-content {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.4fr 0.8fr 0.25fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        min-height: 80vh;

    }

    .picture {
        grid-area: 2 / 1 / 4 / 2;
        width: 85%;
        height: auto;
    }

    .name {
        grid-area: 1 / 1 / 2 / 3;
        align-self: end;
    }

    .para {
        grid-area: 2 / 2 / 3 / 3;
    }

    .text {

        width: 80%;
    }

    .apps {
        grid-area: 3 / 2 / 4 / 3;
        align-items: center;


    }
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
    .grid-content {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr 0.5fr;
        grid-column-gap: 0px;
        grid-row-gap: 20px;
        width: 94%;
        min-height: 80vh;

    }

    .picture {
        grid-area: 2 / 1 / 3 / 2;
        width: 60%;
        height: auto;
    }

    .name {
        grid-area: 1 / 1 / 2 / 2;
        align-self: end;
    }

    .title {
        margin-bottom: 0 !important;
    }

    .para {
        grid-area: 3 / 1 / 4 / 2;
        align-self: center;
    }

    .text {

        width: 60%;
    }

    .apps {
        grid-area: 4 / 1 / 5 / 2 !important;
        align-self: center;
    }

    .about .apps img {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1250px) {
    .grid-content {
        display: grid;
        grid-template-columns: 0.4fr 1fr;
        grid-template-rows: auto 1fr 0.3fr;
        grid-column-gap: 50px;
        grid-row-gap: 0px;
        width: 94%;
        height: 80vh;


    }

    .picture {
        grid-area: 2 / 1 / 4 / 2;
        width: auto;
        height: 100%;
    }

    .name {
        grid-area: 1 / 1 / 2 / 3;
    }

    .title {
        margin-bottom: 20px !important;
    }

    .para {
        grid-area: 2 / 2 / 3 / 3;
    }

    .text {
        width: 75%;
    }

    .link-cv {
        border-bottom: var(--green) 2px solid;
    }

    .about .apps {
        grid-area: 3 / 2 / 4 / 3;
        align-self: flex-end;
    }

    .about .apps img.be,
    .about .apps img.ln {
        width: 7%;
    }

    .about .apps img.mail {
        width: 9%;
    }

    .about .apps img {
        margin-bottom: 15px;
    }

}