* {
    padding: 0;
    box-sizing: border-box;
}

/*color palet*/
:root {
    --beige: #FFFAF4;
    --light-grey: #e0e0e0;
    --grey: #53524E;
    --green: #565448;
    --organic: #617157;
    --smoke: #11120D;
}

/*back color*/
body {
    background-color: var(--beige);
}