body {
    background-color: var(--beige);
}

/*presentation*/

.presentation {
    margin-top: 2%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.present-box {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 90%;
    height: 85%;
}

.nom {
    grid-area: 2 / 3 / 3 / 4;
}

.titre {

    color: var(--green);
    justify-self: flex-end;
}

.sous-titre {
    margin-top: 0;
    justify-self: flex-end;
    color: var(--smoke);
    padding-top: 0;
}

.video {
    grid-area: 1 / 1 / 2 / 4;
    width: 100%;
    height: 100%;
}

/*information*/

.info {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-box {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
/*left*/
.info .info-box .sub-left {
    width: 35%;
    text-align: justify;
    padding-bottom: 1%;
}

.info .info-box .title-left {
    padding-top: 1%;
}

.info .info-box .sub-left,
.info .info-box .title-left {
    border-left: 5px solid var(--green);
    padding-left: 1%;
}

/*right*/
.info .info-box .sub-right {
    width: 35%;
    text-align: justify;
    padding-bottom: 1%;
}

.info .info-box h3 {
    padding-top: 1%;
}

.info .info-box .sub-right,
.info .info-box .title-right {
    border-right: 5px solid var(--green);
    padding-right: 1%;
    align-self: flex-end;
}
/*pre-production*/
.preprod {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    align-items: center;

}

.preprod h2 {
    align-self: flex-start;
    justify-self: flex-start;
    grid-area: 1 / 1 / 2 / 2;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.4fr repeat(2, 1fr) 0.4fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    width: 90%;
    height: 90%;

}

.gallery img {
    width: 100%;
    border: 1px var(--smoke) solid;
}

.pic1 {
    grid-area: 2 / 1 / 3 / 2
}

.pic2 {
    grid-area: 2 / 2 / 3 / 3;
}

.pic3 {
    grid-area: 2 / 3 / 3 / 4;
}

.pic4 {
    grid-area: 3 / 1 / 4 / 2;
}

.pic5 {
    grid-area: 3 / 2 / 4 / 3;
}

.pic6 {
    grid-area: 3 / 3 / 4 / 4;
}

.more-btn {
    grid-area: 4 / 3 / 5 / 4;
    width: 50%;
    height: 100%;
    align-self: flex-start;
    justify-self: flex-end;
    border: 2px var(--green) solid;
    background-color: transparent;
    font-size: 25px;
    color: var(--green);
}