.projects {
    min-height: 150vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    transition: height 0.5s ease;
}

.navigation {
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.navigation .title {
    color: var(--green);
}

.navigation .filters {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    border-bottom: 2px solid var(--light-grey);

}

.navigation .filters h4 {

    cursor: pointer;
    color: var(--light-grey);
    font-weight: 500;
    text-transform: uppercase;

}

.navigation .filters .filter.active {
    color: var(--green);
    border-bottom: 3px solid var(--green);


}

.aurorae,
.confort,
.internature,
.deprime {
    display: flex;
    width: 70vw;
    min-height: 100vh;

}

.projet-grid {
    display: grid;
    grid-template-columns: 0.3fr 0.6fr 0.3fr 0.7fr 0.4fr 0.2fr;
    grid-template-rows: 0.5fr 0.4fr 1.5fr 0.3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 2%;
    width: 100%;
    height: 80%;
}

.classification {
    grid-area: 1 / 6 / 5 / 7;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    align-self: center;
    justify-self: flex-end;
    border-right: var(--green) 5px solid;
    text-transform: uppercase;
}

.btn-more {
    grid-area: 4 / 5 / 5 / 6;
    align-self: flex-end;
    justify-self: center;
}

.worktype {
    grid-area: 4 / 1 / 5 / 2;
    align-self: flex-end;
    text-transform: uppercase;

    font-weight: 500;
    color: var(--smoke);

}

.description {
    grid-area: 4 / 2 / 5 / 5;
    align-self: flex-end;
    color: var(--smoke);
}

.more-info {
    grid-area: 2 / 4 / 3 / 5;

}

.more-info .subtitle {
    padding-top: 10px;
    padding-bottom: 5px;
    color: var(--green);
}

.img-small {
    grid-area: 1 / 4 / 2 / 5;
    width: 100%;
}

.img-big {
    grid-area: 2 / 2 / 4 / 3;
    height: 100%;
}

.project-title {
    grid-area: 2 / 3 / 4 / 4;
    writing-mode: vertical-rl;
    text-orientation: upright;
    align-self: center;
    justify-self: flex-start;
    color: var(--grey);
}

/*
.projects>div:nth-child(even) .projet-grid {

    display: grid;
    grid-template-columns: 0.2fr 0.4fr 0.7fr 0.3fr 0.6fr 0.3fr;
    grid-template-rows: 0.5fr 0.4fr 1.5fr 0.3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 2%;
    width: 100%;
    height: 80%;
}

.projects>div:nth-child(even) .classification {
    grid-area: 1 / 1 / 5 / 2;
    border-left: var(--green) 5px solid;
    border-right: transparent 0 solid;
    padding-left: 10px;
}

.projects>div:nth-child(even) .btn-more {
    grid-area: 4 / 2 / 5 / 3;
}

.projects>div:nth-child(even) .description {
    grid-area: 4 / 3 / 5 / 6;
}

.projects>div:nth-child(even) .worktype {
    grid-area: 4 / 6 / 5 / 7;
    padding-left: 40px;
}

.projects>div:nth-child(even) .img-small {
    grid-area: 1 / 3 / 2 / 4;
    width: 100%;
}

.projects>div:nth-child(even) .more-info {
    grid-area: 2 / 3 / 3 / 4;
}

.projects>div:nth-child(even) .img-big {
    grid-area: 2 / 5 / 4 / 6;
    height: 100%;
}

.projects>div:nth-child(even) .project-title {
    grid-area: 2 / 4 / 4 / 5;
    justify-self: flex-end;
    padding-right: 20px;
}
*/
@media screen and (min-width: 200px) and (max-width: 530px) {

    
.navigation {
margin-block: 20%;
}


.navigation .filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    border-bottom: 2px solid var(--light-grey);

}

    .aurorae,
    .confort,
    .internature,
    .deprime {
        display: flex;
        width: 90vw;
        min-height: 78vh;

    }

    .projet-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 0.05fr) 0.4fr 0.2fr 0.15fr 0.10fr 0.1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .project-title {
        grid-area: 1 / 1 / 2 / 3;
        writing-mode: horizontal-tb;
        align-self: flex-end;
        font-size: 30px;
        border-top: var(--green) 5px solid;
        padding-right: 1000%;
        
    }

    .worktype {
        grid-area: 2 / 2 / 3 / 5;
        /* justify-self: end; */
        align-self: start;
        justify-self: end;
        text-align: center;
        width: 100%;
        margin-top: 2%;
    }

    .worktype span{
        margin-left: 25%;
    }


    .img-big {
        grid-area: 3 / 1 / 4 / 5;
        width: 100%;
        height: auto;
        align-self: flex-end;
    }

    .img-small {
        visibility: hidden;
    }

    .description {
        grid-area: 4 / 1 / 5 / 5;
        width: 100%;
        align-self: center;
    }

    .more-info {
        grid-area: 5 / 2 / 6 / 5;
        align-self: flex-end;
        
    }

    .more-info .subtitle{
        justify-self: flex-end;
        margin-bottom: 2%;
    }
    .more-info .extrainfo{
        justify-self: flex-end;
        width: 100%;
        
        margin-bottom: 2%;
    }

    .btn-more {
        grid-area: 6 / 3 / 7 / 5;
        align-self: flex-start;
        justify-self: flex-end;
        margin-top: 5%;
    }



    .classification {
        grid-area: 7 / 1 / 8 / 5;
        text-align: end;
        width: 90%;
        writing-mode: horizontal-tb;
        border-inline: 0px solid var(--green) ;
        border-bottom: var(--green) 5px solid;
        align-self: start;
    }

}