.about {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border: 2px black solid;*/
}
.about--content {
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  grid-template-rows: 0.2fr 1fr 0.5fr 0.2fr 0.3fr;
  grid-column-gap: 100px;
  grid-row-gap: 0px;
}
.about--content--img--big {
  grid-area: 1/1/6/2;
  height: 100%;
  justify-self: flex-end;
}
.about--content--subtitle {
  grid-area: 1/2/2/3;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.about--content--subtitle--01, .about--content--subtitle--02 {
  margin: 0 3% 0 0;
}
.about--content--subtitle--03 {
  margin: 0;
}
.about--content--name {
  grid-area: 2/2/3/3;
  align-self: flex-start;
  margin: 0;
}
.about--content--descp {
  grid-area: 3/2/4/3;
  width: 40%;
  text-align: justify;
  align-self: flex-end;
}
.about--content--link {
  grid-area: 4/2/5/3;
  align-self: flex-start;
  margin: 15px 0 0 0;
}
.about--content--app {
  grid-area: 5/2/6/3;
  align-self: flex-start;
}
.about--content--border {
  grid-area: 5/2/6/3;
  border: solid 3px var(--carbon);
  align-self: flex-end;
}

.footer {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.footer--border {
  width: 100%;
  border-top: 3px solid var(--carbon);
}
.footer--content {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 80%;
  width: 90%;
}
.footer--content--logo {
  align-self: flex-end;
  grid-area: 1/1/2/2;
}
.footer--content--occupation {
  grid-area: 2/1/3/2;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.footer--content--occupation--01, .footer--content--occupation--02 {
  margin: 0 3% 0 0;
  align-self: flex-start;
}
.footer--content--occupation--03 {
  margin: 0;
  align-self: flex-start;
}
.footer--content--app {
  align-self: center;
  justify-self: flex-end;
  grid-area: 1/2/3/3;
  display: flex;
  flex-direction: row;
}

/* Base Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  width: 100%;
  z-index: 1000;
  border-bottom: 2px solid var(--smoky);
  height: 5vh;
  margin-left: 2;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.navigation .logo {
  font-size: 30px;
  margin-left: 3%;
}
.navigation .burger-menu {
  margin-right: 3%;
  width: 40px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1000;
}
.navigation .burger-menu span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--smoky);
  border-radius: 0;
  transition: all 0.3s ease;
}
.navigation .burger-menu.open span:nth-child(1) {
  transform: rotate(45deg) translate(15px, 15px);
}
.navigation .burger-menu.open span:nth-child(2) {
  opacity: 0;
}
.navigation .burger-menu.open span:nth-child(3) {
  transform: rotate(-45deg);
}
.navigation .nav-menu {
  border-bottom: 2px solid var(--smoky);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--floral);
  color: var(--carbon);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
  z-index: 999;
}
.navigation .nav-menu.open {
  transform: translateY(0);
}
.navigation .nav-menu ul {
  list-style: none;
  text-align: center;
}
.navigation .nav-menu ul li {
  margin: 20px 0;
}
.navigation .nav-menu ul li a {
  text-decoration: none;
  font-size: 5rem;
  color: var(--carbon);
  transition: color 0.3s;
}
.navigation .nav-menu ul li a:hover {
  color: var(--khaki);
}

.projets {
  height: 300vh;
}
.projets--aurorae {
  width: 100%;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
}
.projets--aurorae--content {
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.2fr repeat(3, 0.6fr) 0.3fr;
  grid-template-rows: 0.3fr 0.2fr 0.15fr 1fr 0.2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 80%;
  width: 80%;
}
.projets--aurorae--content--worktype {
  grid-area: 5/1/6/2;
  align-self: flex-end;
}
.projets--aurorae--content--img-big {
  grid-area: 2/2/5/3;
  height: 100%;
}
.projets--aurorae--content--title {
  grid-area: 2/3/5/4;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
  align-self: center;
  justify-self: center;
}
.projets--aurorae--content--classification {
  grid-area: 1/7/6/8;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
  color: var(--carbon);
  font-size: 30px;
  align-self: center;
  justify-self: flex-end;
  padding-right: 10%;
}
.projets--aurorae--content--border {
  grid-area: 1/7/6/8;
  border-right: 4px solid var(--carbon);
  align-self: center;
  justify-self: flex-end;
  height: 80%;
}
.projets--aurorae--content--more {
  grid-area: 5/6/6/7;
  align-self: flex-end;
}
.projets--aurorae--content--descp {
  grid-area: 5/2/6/6;
  align-self: flex-end;
}
.projets--aurorae--content--img-small {
  height: 80%;
  align-self: flex-end;
  grid-area: 1/5/3/6;
}
.projets--aurorae--content--subtitle {
  grid-area: 3/5/4/6;
  align-self: center;
}
.projets--aurorae--content--extrainfo {
  grid-area: 4/5/5/6;
  align-self: flex-start;
}
.projets--confort {
  width: 100%;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
}
.projets--confort--content {
  display: grid;
  grid-template-columns: 0.3fr repeat(3, 0.6fr) 0.2fr 1fr 0.4fr;
  grid-template-rows: 0.3fr 0.2fr 0.15fr 1fr 0.2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 80%;
  width: 80%;
}
.projets--confort--content--worktype {
  grid-area: 5/7/6/8;
  align-self: flex-end;
  text-align: right;
}
.projets--confort--content--img-big {
  grid-area: 2/6/5/7;
  height: 100%;
}
.projets--confort--content--title {
  grid-area: 2/5/5/6;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
  align-self: center;
  justify-self: center;
  font-size: 55px;
}
.projets--confort--content--classification {
  grid-area: 1/1/6/2;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
  color: var(--carbon);
  font-size: 30px;
  align-self: center;
  justify-self: flex-start;
  padding-left: 10%;
}
.projets--confort--content--border {
  grid-area: 1/1/6/2;
  border-left: 4px solid var(--carbon);
  align-self: center;
  justify-self: flex-start;
  height: 80%;
}
.projets--confort--content--more {
  grid-area: 5/2/6/3;
  align-self: flex-end;
}
.projets--confort--content--descp {
  grid-area: 5/3/6/7;
  align-self: flex-end;
}
.projets--confort--content--img-small {
  grid-area: 1/3/3/4;
  height: 80%;
  align-self: flex-end;
}
.projets--confort--content--subtitle {
  grid-area: 3/3/4/4;
  align-self: center;
}
.projets--confort--content--extrainfo {
  grid-area: 4/3/5/4;
  align-self: flex-start;
}
.projets--chaos {
  width: 100%;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
}
.projets--chaos--content {
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.2fr repeat(3, 0.6fr) 0.3fr;
  grid-template-rows: 0.3fr 0.2fr 0.15fr 1fr 0.2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 80%;
  width: 80%;
}
.projets--chaos--content--worktype {
  grid-area: 5/1/6/2;
  align-self: flex-end;
}
.projets--chaos--content--img-big {
  grid-area: 2/2/5/3;
  height: 100%;
}
.projets--chaos--content--title {
  grid-area: 2/3/5/4;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
  align-self: center;
  justify-self: center;
}
.projets--chaos--content--classification {
  grid-area: 1/7/6/8;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
  color: var(--carbon);
  font-size: 30px;
  align-self: center;
  justify-self: flex-end;
  padding-right: 10%;
}
.projets--chaos--content--border {
  grid-area: 1/7/6/8;
  border-right: 4px solid var(--carbon);
  align-self: center;
  justify-self: flex-end;
  height: 85%;
}
.projets--chaos--content--more {
  grid-area: 5/6/6/7;
  align-self: flex-end;
}
.projets--chaos--content--descp {
  grid-area: 5/2/6/6;
  align-self: flex-end;
}
.projets--chaos--content--img-small {
  width: 100%;
  align-self: flex-end;
  grid-area: 1/5/3/6;
}
.projets--chaos--content--subtitle {
  grid-area: 3/5/4/6;
  align-self: center;
}
.projets--chaos--content--extrainfo {
  grid-area: 4/5/5/6;
  align-self: flex-start;
}

/*
@media screen and (min-width: 768px) {
    section.projects {
        .projets {
            &--aurorae {
                background-color: var(--floral);
                //border: red 3px solid;
                width: 100%;
                height: 100vh;

                &--content {
                    //border: red 3px solid;

                    display: grid;
                    grid-template-columns: 0.15fr 0.25fr 0.2fr 0.15fr 0.1fr 0.05fr;
                    grid-template-rows: 0.5fr 0.1fr 1fr 0.3fr;
                    grid-column-gap: 0px;
                    grid-row-gap: 0px;
                    width: 80vw;
                    height: 80vh;
                    margin-inline: auto auto;



                    &--classification {
                        grid-area: 1 / 6 / 5 / 7;
                        writing-mode: vertical-lr;
                        text-orientation: upright;
                        text-transform: uppercase;
                        color: var(--carbon);
                        font-size: 30px;
                        align-self: center;
                        justify-self: center;
                        padding-right: 65%;



                    }

                    &--border {
                        justify-self: center;
                        align-self: center;
                        grid-area: 1 / 6 / 5 / 7;
                        width: 5px; // Line thickness
                        height: 40vh; // Line height
                        background-color: var(--olive); // Line color
                    }

                    &--more {
                        grid-area: 4 / 5 / 5 / 6;
                        justify-self: center;
                        align-self: flex-end;


                    }

                    &--descp {
                        grid-area: 4 / 2 / 5 / 5;
                        align-self: flex-end;
                    }

                    &--worktype {
                        align-self: flex-end;
                        grid-area: 4 / 1 / 5 / 2;
                        text-transform: capitalize;
                        justify-self: center;
                        color: var(--carbon);
                    }



                    &--img {
                        &-big {
                            grid-area: 1 / 2 / 4 / 3;
                            width: 95%;
                            margin: 45% 0 0 0;
                            align-self: center;
                        }

                        &-small {
                            grid-area: 1 / 4 / 2 / 5;
                            width: 100%;
                            align-self: flex-end;
                        }
                    }

                    &--subtitle {
                        grid-area: 2 / 4 / 3 / 5;
                        align-self: flex-end;
                        color: var(--olive);
                        margin: 0 0 1% 0;
                        font-weight: 500;
                    }

                    &--extrainfo {
                        grid-area: 3 / 4 / 4 / 5;
                        align-self: start;
                        margin: 0;
                        color: var(--smokey);
                    }

                    &--title {
                        grid-area: 1 / 3 / 4 / 4;
                        writing-mode: vertical-lr;
                        text-orientation: upright;
                        align-self: center;
                        justify-self: flex-start;
                        margin-left: 0;
                        padding-top: 300px;
                        color: var(--olive);
                        font-weight: 400;
                    }

                }


            }


            &--confort {

                background-color: var(--floral);
                //border: red 3px solid;
                width: 100%;
                height: 100vh;

                &--content {
                    //border: red 3px solid;


                    display: grid;
                    grid-template-columns: 0.25fr 0.3fr 0.5fr 0.3fr 1fr 0.4fr;
                    grid-template-rows: 0.7fr 0.12fr 1fr 0.3fr;
                    grid-column-gap: 0px;
                    grid-row-gap: 0px;
                    width: 80vw;
                    height: 80vh;
                    margin-inline: auto auto;

                    &--classification {
                        grid-area: 2 / 1 / 4 / 2;
                        writing-mode: vertical-lr;
                        text-orientation: upright;
                        text-transform: uppercase;
                        color: var(--carbon);
                        font-size: 30px;
                        align-self: center;
                        justify-self: center;
                        padding-left: 35%;
                    }

                    &--border {
                        justify-self: center;
                        align-self: center;
                        grid-area: 2 / 1 / 4 / 2;
                        width: 5px; // Line thickness
                        height: 40vh; // Line height
                        background-color: var(--olive); // Line color
                    }

                    &--more {
                        grid-area: 4 / 2 / 5 / 3;

                        justify-self: center;
                        align-self: flex-end;
                    }

                    &--descp {
                        grid-area: 4 / 3 / 5 / 6;
                        align-self: flex-end;
                    }

                    &--worktype {
                        grid-area: 4 / 6 / 5 / 7;
                        align-self: flex-end;

                        text-transform: capitalize;
                        justify-self: start;
                        color: var(--carbon);
                    }

                    &--img {
                        &-big {
                            grid-area: 2 / 5 / 4 / 6;
                            width: 75%;
                            margin: -20% 0 0 0;
                            align-self: center;
                        }

                        &-small {
                            grid-area: 1 / 2 / 2 / 4;

                            width: 100%;
                            align-self: flex-end;
                        }
                    }

                    &--subtitle {
                        grid-area: 2 / 2 / 3 / 4;

                        align-self: flex-end;
                        color: var(--olive);
                        margin: 0 0 1% 0;
                        font-weight: 500;
                    }

                    &--extrainfo {
                        grid-area: 3 / 2 / 4 / 4;

                        align-self: start;
                        margin: 0;
                        color: var(--smokey);
                    }

                    &--title {
                        grid-area: 1 / 4 / 4 / 5;
                        writing-mode: vertical-lr;
                        text-orientation: upright;
                        align-self: center;
                        justify-self: end;
                        /* margin-right: 0; 
                        padding-top: 65%;
                        font-size: 60px;
                        color: var(--olive);
                        font-weight: 400;
                    }
                }




            }

            &--chaos {
                background-color: var(--floral);
                width: 100%;
                height: 100vh;

                &--content {
                    display: grid;
                    grid-template-columns: 0.15fr 0.25fr 0.2fr 0.15fr 0.1fr 0.05fr;
                    grid-template-rows: 0.5fr 0.1fr 1fr 0.3fr;
                    grid-column-gap: 0px;
                    grid-row-gap: 0px;
                    width: 80vw;
                    height: 80vh;
                    margin-inline: auto auto;



                    &--classification {
                        grid-area: 1 / 6 / 5 / 7;
                        writing-mode: vertical-lr;
                        text-orientation: upright;
                        color: var(--carbon);
                        font-size: 30px;
                        align-self: center;
                        justify-self: center;
                        padding-right: 65%;
                        text-transform: uppercase;



                    }

                    &--border {
                        justify-self: center;
                        align-self: center;
                        grid-area: 1 / 6 / 5 / 7;
                        width: 5px; // Line thickness
                        height: 50vh; // Line height
                        background-color: var(--olive); // Line color
                    }

                    &--more {
                        grid-area: 4 / 5 / 5 / 6;
                        justify-self: center;
                        align-self: flex-end;


                    }

                    &--descp {
                        grid-area: 4 / 2 / 5 / 5;
                        align-self: flex-end;
                    }

                    &--worktype {
                        align-self: flex-end;
                        grid-area: 4 / 1 / 5 / 2;
                        text-transform: capitalize;
                        justify-self: center;
                        color: var(--carbon);
                    }



                    &--img {
                        &-big {
                            grid-area: 1 / 2 / 4 / 3;
                            width: 95%;
                            margin: 45% 0 0 0;
                            align-self: center;
                        }

                        &-small {
                            grid-area: 1 / 4 / 2 / 5;
                            width: 100%;
                            align-self: flex-end;
                        }
                    }

                    &--subtitle {
                        grid-area: 2 / 4 / 3 / 5;
                        align-self: flex-end;
                        color: var(--olive);
                        margin: 0 0 1% 0;
                        font-weight: 500;
                    }

                    &--extrainfo {
                        grid-area: 3 / 4 / 4 / 5;
                        align-self: start;
                        margin: 0;
                        color: var(--smokey);
                    }

                    &--title {
                        grid-area: 1 / 3 / 4 / 4;
                        writing-mode: vertical-lr;
                        text-orientation: upright;
                        align-self: center;
                        justify-self: flex-start;
                        margin-left: 0;
                        padding-top: 300px;
                        color: var(--olive);
                        font-weight: 400;
                    }

                }
            }
        }

    }
}
/*
@media screen and (max-width: 768px) and (min-width: 375px) {
    .projets {
        &--aurorae {

            &--content {
                display: grid;
                grid-template-columns: 0.65fr 0.4fr;
                grid-template-rows: 1fr 0.5fr 0.8fr repeat(2, 1fr) 0.4fr 0.6fr 0.5fr;
                grid-column-gap: 2vw;
                grid-row-gap: 0px;
                justify-content: space-around;
                width: 90%;
                background-color: aqua;

                margin-inline: auto;
                justify-content: center;


                &--descp {
                    grid-area: 6 / 1 / 8 / 2;
                    align-self: flex-end;
                }

                &--subtitle {
                    grid-area: 6 / 2 / 7 / 3;
                }

                &--extrainfo {
                    grid-area: 7 / 2 / 8 / 3;
                    margin-top: 0;
                }

                &--classification {
                    grid-area: 8 / 2 / 9 / 3;
                    align-self: flex-end;
                    justify-self: center;
                    margin-bottom: 3%;
                }

                &--border {
                    grid-area: 8 / 2 / 9 / 3;
                    background-color: var(--carbon);
                    height: 4px;
                    width: 120%;
                    margin-left: -20%;
                    align-self: flex-end;
                }

                &--title {
                    grid-area: 1 / 2 / 2 / 3;
                    align-self: flex-end;
                    justify-self: center;
                    color: var(--olive);
                    font-weight: 400;
                    margin: 0;
                    font-size: 35px;
                }

                &--worktype {
                    grid-area: 2 / 2 / 3 / 3;
                    width: 100%;
                    margin-left: 20%;
                    font-size: 15px;
                    text-transform: uppercase;


                    & span {
                        margin-left: 5%;
                    }
                }

                &--more {
                    grid-area: 3 / 2 / 4 / 3;



                }

                &--img {
                    &-small {
                        grid-area: 4 / 2 / 6 / 3;
                        align-self: flex-end;
                        height: 65%;
                    }

                    &-big {
                        grid-area: 1 / 1 / 6 / 2;
                        height: 100%;
                    }
                }



            }

        }
    }



}

@media screen and (max-width: 375px) {

    .projets {
        &--aurorae {
            background-color: var(--floral);
            //border: red 3px solid;
            width: 100vw;
            height: 100vh;

            &--content {

                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 0.2fr 0.4fr 1.5fr 0.5fr 0.2fr 0.4fr 0.3fr 0.5fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px;

                &--title {
                    grid-area: 1 / 1 / 2 / 2;
                }

                &--worktype {
                    grid-area: 2 / 1 / 3 / 2;
                }

                &--img {
                    &-big {
                        grid-area: 3 / 1 / 4 / 2;
                    }

                    &-small {
                        display: none;
                    }
                }

                &--descp {
                    grid-area: 4 / 1 / 5 / 2;
                }

                &--subtitle {
                    grid-area: 5 / 1 / 6 / 2;
                }

                &--extrainfo {
                    grid-area: 6 / 1 / 7 / 2;
                }

                &--more {
                    grid-area: 7 / 1 / 8 / 2;
                }

                &--classification {
                    grid-area: 8 / 1 / 9 / 2;
                }

                &--border {
                    grid-area: 8 / 1 / 9 / 2;
                }
            }


        }
    }
}*/
.services {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.services--border {
  border-top: 5px var(--olive) solid;
  width: 45%;
  align-self: flex-start;
  justify-self: flex-start;
}
.services--container {
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.services--container--title {
  color: var(--khaki);
  align-self: flex-start;
  height: 10vh;
  font-size: 130px;
  font-weight: 300;
}
.services--container--content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  height: 65%;
  width: 70%;
}
.services--container--content--card--01 {
  grid-area: 1/1/2/2;
}
.services--container--content--card--01--app {
  display: flex;
  flex-direction: row;
  height: 5vh;
}
.services--container--content--card--02 {
  grid-area: 1/2/2/3;
}
.services--container--content--card--02--app {
  display: flex;
  flex-direction: row;
  height: 5vh;
}
.services--container--content--card--03 {
  grid-area: 2/1/3/2;
}
.services--container--content--card--03--app {
  display: flex;
  flex-direction: row;
  height: 5vh;
}
.services--container--content--card--04 {
  grid-area: 2/2/3/3;
}
.services--container--content--card--04--app {
  display: flex;
  flex-direction: row;
  height: 5vh;
}

.button {
  width: 150px;
  height: 150px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--carbon);
  border: 3px solid var(--carbon);
  font-weight: 450;
  justify-self: center;
  align-self: flex-end;
}
.button:hover {
  color: var(--khaki);
  border-color: var(--khaki);
}

.long-btn {
  font-size: 24px;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--carbon);
  border: 3px solid var(--carbon);
  font-weight: 450;
  justify-self: center;
  align-self: flex-end;
}
.long-btn:hover {
  color: var(--khaki);
  border-color: var(--khaki);
}

@media screen and (max-width: 768px) and (min-width: 375px) {
  .button {
    width: 40%;
    height: 30%;
    font-size: 12px;
    border: 3px solid var(--carbon);
    align-self: flex-start;
    justify-self: center;
  }
}
:root {
  --floral: #FFFAF4;
  --olive: #565448;
  --carbon: #595959;
  --smoky: #11120D;
  --emerald: #4c5138;
  --khaki: #898C79;
}

h1 {
  font-family: "Playfair Display";
  text-transform: uppercase;
}

h2 {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 400;
}

h3 {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 300;
}

h4 {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 400;
}

p {
  font-family: "Montserrat";
  font-size: 24px;
}

a {
  font-family: "Montserrat";
}

@media only screen and (min-width: 768px) {
  .projets {
    color: var(--olive);
  }
  h1.logo {
    font-size: 60px;
    color: var(--carbon);
  }
  h1 {
    font-size: 110px;
  }
  h2 {
    font-size: 80px;
  }
  h3 {
    font-size: 55px;
  }
  h4 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }
  h4.footer {
    font-size: 18px;
  }
}
.card {
  width: 100%;
  height: 100%;
  border: 4px solid var(--olive);
  border-radius: 5px;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card--title {
  align-self: center;
  justify-self: center;
  font-weight: 300;
  font-size: 105px;
  text-align: center;
  color: var(--olive);
  margin-bottom: 5%;
}
.card:hover {
  background-color: whitesmoke;
  border-color: var(--khaki);
}
.card:hover .card--title {
  color: var(--khaki);
}

a {
  color: var(--smoky);
  font-weight: 500;
  font-size: 32px;
  text-decoration: underline;
}
a:hover {
  color: var(--emerald);
}

.about--content--app a,
.footer--content--app a {
  text-decoration: none;
  border-bottom: none;
  display: inline-block;
}
.about--content--app--mail, .about--content--app--ln,
.footer--content--app--mail,
.footer--content--app--ln {
  margin: 0 1% 0 0;
}

.services img {
  height: 100%;
}
.services img:nth-child(1) {
  margin-right: 10%;
}

.footer--content--app--mail,
.footer--content--app--ln {
  margin-right: 5%;
}

.aurorae--presents {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aurorae--presents--title {
  font-size: 180px;
  color: var(--olive);
}
.aurorae--presents--subtitle {
  align-self: flex-end;
  margin-right: 25%;
  margin-bottom: 3%;
}
.aurorae--presents--video {
  width: 55vw;
  height: 60vh;
  background-color: aqua;
}
.aurorae--information {
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-inline: 10%;
}
.aurorae--information--synopsis {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  grid-template-rows: 0.4fr 0.8fr;
  grid-column-gap: 0px;
  grid-row-gap: 25px;
  align-self: flex-start;
  width: 35vw;
}
.aurorae--information--synopsis h4 {
  grid-area: 1/2/2/3;
}
.aurorae--information--synopsis p {
  grid-area: 2/2/3/3;
}
.aurorae--information--synopsis--border {
  border-left: 5px solid var(--carbon);
  grid-area: 1/1/3/2;
  height: 150%;
  align-self: center;
}
.aurorae--information--role {
  align-self: flex-end;
  width: 35vw;
  text-align: right;
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-template-rows: 0.4fr 0.8fr;
  grid-column-gap: 0px;
  grid-row-gap: 25px;
}
.aurorae--information--role h4 {
  grid-area: 1/1/2/2;
}
.aurorae--information--role p {
  grid-area: 2/1/3/2;
}
.aurorae--information--role--border {
  border-right: 5px solid var(--carbon);
  height: 150%;
  align-self: center;
  justify-self: flex-end;
  grid-area: 1/2/3/3;
}
.aurorae--information--credits {
  align-self: flex-start;
  width: 35vw;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  grid-template-rows: 0.4fr 0.8fr;
  grid-column-gap: 0px;
  grid-row-gap: 25px;
}
.aurorae--information--credits h4 {
  grid-area: 1/2/2/3;
}
.aurorae--information--credits ul {
  grid-area: 2/2/3/3;
}
.aurorae--information--credits--border {
  border-left: 5px solid var(--carbon);
  grid-area: 1/1/3/2;
  height: 150%;
  align-self: center;
}
.aurorae--preprod {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.aurorae--preprod--border {
  width: 60vw;
  border-top: 5px solid var(--carbon);
  align-self: flex-start;
  margin-left: -25%;
}
.aurorae--preprod img {
  border: var(--smoky) solid 2px;
}
.aurorae--preprod h2 {
  align-self: start;
}
.aurorae--preprod--gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr) 0.2fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  width: 75vw;
  height: 70vh;
  align-items: center;
}
.aurorae--preprod--gallery--pic1 {
  grid-area: 1/1/2/2;
  width: 100%;
}
.aurorae--preprod--gallery--pic2 {
  grid-area: 1/2/2/3;
  width: 100%;
}
.aurorae--preprod--gallery--pic3 {
  grid-area: 1/3/2/4;
  width: 100%;
}
.aurorae--preprod--gallery--pic4 {
  grid-area: 2/1/3/2;
  width: 100%;
}
.aurorae--preprod--gallery--pic5 {
  grid-area: 2/2/3/3;
  width: 100%;
}
.aurorae--preprod--gallery--pic6 {
  grid-area: 2/3/3/4;
  width: 100%;
}
.aurorae--preprod--gallery--btn {
  grid-area: 3/3/4/4;
  align-self: flex-start;
  justify-self: flex-end;
}/*# sourceMappingURL=style.css.map */