section.about {
    background-color: var(--floral);
    width: 100%;
    height: 100vh;
    padding-block: 10vh 2vh;

    /*
    .about {
        &--content {
            
                display: grid;
                grid-template-columns:  1fr 1fr 0.4fr 0.4fr 0.4fr;
                grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                height: 70vh;
                width: 80vw;

            &--subtitle {

                &:nth-child(1){
                grid-area: 1 / 3 / 2 / 4;
                background-color: aqua;
                    text-align: center;
                }

                &:nth-child(2){
                    grid-area: 1 / 4 / 2 / 5;
                    justify-self: center;
                    background-color: black;
                }

                &:nth-child(3){
                    grid-area: 1 / 5 / 2 / 6;
                    justify-self: flex-start;
                    background-color: aquamarine;
                }
            }

            &--name {
                grid-area: 2 / 3 / 3 / 6;
            }

            &--img {
                &--big {
                    grid-area: 1 / 2 / 6 / 3;
                }

                &--small {
                    grid-area: 4 / 1 / 6 / 2;
                }
            }



            &--descp {
                grid-area: 3 / 3 / 4 / 5;
            }

            &--link {
                grid-area: 4 / 3 / 5 / 4;
            }

            &--app {
                &--mail{
grid-area: 5 / 3 / 6 / 4;
                }

                &--ln{
grid-area: 5 / 4 / 6 / 5;
                }

                &--be{
grid-area: 5 / 5 / 6 / 6;
                }
            }
        }
    }

    .about {
        &--contentall {

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            width: 80vw;
            height: 80vh;

            &--contenttop {
                grid-area: 1 / 2 / 2 / 3;

                display: grid;
                grid-template-columns: 12vw 10vw 10vw 20vw;
                grid-template-rows: 10vh 10vh;
                grid-column-gap: 0px;
                grid-row-gap: 0px;


                &--name {
                    grid-area: 2 / 1 / 3 / 5;
                    align-self: center;
                }

                &--subtitle {
                    &--01 {
                        grid-area: 1 / 1 / 2 / 2;
                        align-self: flex-end;
                    }

                    &--02 {
                        grid-area: 1 / 2 / 2 / 3;
                        align-self: flex-end;
                    }

                    &--03 {
                        grid-area: 1 / 3 / 2 / 4;
                        align-self: flex-end;
                    }
                }

            }

            &--contentside {
                grid-area: 1 / 1 / 4 / 2;

                display: grid;
                grid-template-columns: 0.3fr 1fr;
                grid-template-rows: repeat(2, 1fr) 0.5fr repeat(2, 1fr);
                grid-column-gap: 20px;
                grid-row-gap: 0px;
                width: 35vw;
                height: 80vh;

                &--img {
                    &-small {
                        grid-area: 3 / 1 / 6 / 2;
                        align-self: flex-end;
                    }

                    &-big {
                        grid-area: 1 / 2 / 6 / 3;
                        align-self: flex-end;
                    }
                }


            }

            &--contentbottom {
                grid-area: 3 / 2 / 4 / 3;

                display: grid;
                grid-template-columns: 7vw 7vw 7vw;
                grid-template-rows: 1fr repeat(2, 0.4fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;

                &--descp {
                    grid-area: 1 / 1 / 2 / 4;
                }

                &--link {
                    grid-area: 2 / 1 / 3 / 3;
                }

                &--app {
                    &--mail {
                        grid-area: 3 / 1 / 4 / 2;
                    }

                    &--ln {
                        grid-area: 3 / 2 / 4 / 3;
                    }

                    &--be {
                        grid-area: 3 / 3 / 4 / 4;
                    }
                }

            }

        }

    }
*/

    .about {
        &--content {
            border: 2px red solid;

            display: grid;
            grid-template-columns: 0.5fr 1fr  1fr repeat(3, 0.5fr) 0.7fr;
            grid-template-rows: 5vh 0.5fr 1fr 0.15fr 0.3fr;
            grid-column-gap: 10px;
            grid-row-gap: 0px;
            width: 100vw;
            height: 75vh;

            &--img {
                &--small {
                    grid-area: 3 / 1 / 6 / 2;
                    align-self: flex-end;
                    width: 100%;
                }

                &--big {
                    grid-area: 1 / 2 / 6 / 3;
                    align-self: flex-end;
                    width: 100%;
                }
            }

            &--subtitle {
                
                &--01 {
                    grid-area: 1 / 3 / 2 / 4;
                    align-self: flex-end;
                }

                &--02 {
                    grid-area: 1 / 4 / 2 / 5;
                    align-self: flex-end;
                }

                &--03 {
                    grid-area: 1 / 5 / 2 / 6;
                    align-self: flex-end;
                }
            }

            &--name {
                grid-area: 2 / 3 / 3 / 7;
                margin-top: 0;
                align-self: flex-start;
            }

            &--descp {
                grid-area: 3 / 3 / 4 / 6;
                width: 70%;
                align-self: flex-end;
            }

            &--link {
                grid-area: 4 / 3 / 5 / 5;
                align-self: center;
            }

            &--app {
                grid-area: 5 / 3 / 6 / 5;
                &--ln {
                    justify-self: flex-start;
                    text-decoration: none;
                }

                &--mail {
                    justify-self: center;
                    text-decoration: none;
                }

                &--be {
                    justify-self: flex-end;
                    text-decoration: none;
                }
            }
        }
    }
}


