.about {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2px black solid;*/

    &--content {
        height: 80%;
        width: 100%;
        display: grid;
        grid-template-columns: 0.4fr 0.6fr;
        grid-template-rows: 0.2fr 1fr 0.5fr 0.2fr 0.3fr;
        grid-column-gap: 100px;
        grid-row-gap: 0px;

        &--img--big {
            grid-area: 1 / 1 / 6 / 2;
            height: 100%;
            justify-self: flex-end;
        }

        &--subtitle {
            grid-area: 1 / 2 / 2 / 3;
            display: flex;
            align-content: center;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;

            &--01,
            &--02 {
                margin: 0 3% 0 0;
            }

            &--03 {
                margin: 0;
            }
        }

        &--name {
            grid-area: 2 / 2 / 3 / 3;
            align-self: flex-start;
            margin: 0;
        }

        &--descp {
            grid-area: 3 / 2 / 4 / 3;
            width: 40%;
            text-align: justify;
            align-self: flex-end;
        }

        &--link {
            grid-area: 4 / 2 / 5 / 3;
            align-self: flex-start;
            margin: 15px 0 0 0;
        }

        &--app {
            grid-area: 5 / 2 / 6 / 3;
            align-self: flex-start;
        }

        &--border {
            grid-area: 5 / 2 / 6 / 3;
            border: solid 3px var(--carbon);
            align-self: flex-end;
        }
    }




}

@media screen and (max-width: 1855px) {
    .about {
        &--content {
            width: 80%;
            display: grid;
            grid-template-columns: 0.5fr 1fr;
            grid-template-rows: 0.4fr repeat(2, 1fr) 0.4fr 0.5fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;

            &--img--big {
                grid-area: 1 / 1 / 3 / 2;
                height: 100%;
                justify-self: flex-start;
            }

            &--subtitle {
                grid-area: 1 / 2 / 2 / 3;
            }

            &--name {
                grid-area: 2 / 2 / 3 / 3;
                font-size: 100px;
            }

            &--descp {
                grid-area: 3 / 1 / 4 / 3;
            }

            &--link {
                grid-area: 4 / 1 / 5 / 3;
            }

            &--app {
                grid-area: 5 / 1 / 6 / 3;
                align-self: center;
            }

            &--border {
                grid-area: 5 / 1 / 6 / 3;
            }
        }


    }

}