section.about {
    background-color: var(--floral);
    width: 100%;
    height: 100vh;
    padding-block: 10vh 2vh;

    .about {
        &--content {
           // border: 2px red solid;

            display: grid;
            grid-template-columns: 0.7fr 1fr 7.5vw repeat(3, 6vw) 0.7fr;
            grid-template-rows:  5vh 0.5fr 1fr 0.1fr 0.2fr;
            grid-column-gap: 20px;
            grid-row-gap: 0px;
            width: 100%;
            height: 80vh;

            &--border{
                width: 100%;
                border-bottom: 10px var(--olive) solid;
                grid-area: 5 / 3 / 6 / 8;
            }

            &--img {
                &--small {
                    grid-area: 3 / 1 / 6 / 2;
                    align-self: flex-end;
                    width: 100%;
                }

                &--big {
                    grid-area: 1 / 2 / 6 / 3;
                    align-self: flex-end;
                    height: 100%;
                    
                }
            }

            &--subtitle {
                
                &--01 {
                    grid-area: 1 / 3 / 2 / 4;
                    align-self: flex-end;
                    margin: 0;
                }

                &--02 {
                    grid-area: 1 / 4 / 2 / 5;
                    align-self: flex-end;
                    margin: 0;
                }

                &--03 {
                    grid-area: 1 / 5 / 2 / 6;
                    align-self: flex-end;
                    margin: 0;
                }
            }

            &--name {
                grid-area: 2 / 3 / 3 / 8;
                margin: 0;
                align-self: flex-start;
            }

            &--descp {
                grid-area: 3 / 3 / 4 / 7;
                width: 95%;
                align-self: flex-end;
                margin: 0;
            }

            &--link {
                grid-area: 4 / 3 / 5 / 5;
                align-self: flex-start;
                margin: 2% 0 0 0;
            }

            &--app {
                grid-area: 5 / 3 / 6 / 5;
                align-content: center;
                &--ln {
                    justify-self: flex-start;
                    text-decoration: none;
                    
                }

                &--mail {
                    justify-self: center;
                    text-decoration: none;
                }

                &--be {
                    justify-self: flex-end;
                    text-decoration: none;
                }
            }
        }
    }
}