.about--content--app  {
    & a{
       text-decoration: none;
    border-bottom: none;
    display: inline-block; 
    }
    

    &--mail, &--ln{
        margin: 0 1% 0 0;
    }
  }

  .services{
    & img{
        height: 100%;

        &:nth-child(1){
            margin-right: 10%;
        }
    }
  }