.button {
    width: 55%;
    height: 65%;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    color: var(--carbon);
    border: 5px solid var(--carbon);
    font-weight: 450;
    justify-self: center;
    align-self: flex-end;

    &:hover {
        color: var(--khaki);
        border-color: var(--khaki);
    }
}