.card {
    width: 100%;
    height: 100%;
    border: 4px solid var(--olive);
    border-radius: 5px;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    &--title {
        align-self: center;
        justify-self: center;
        font-weight: 300;
        font-size: 105px;
        text-align: center;
        color: var(--olive);
        margin-bottom: 5%;
    }

    &:hover {
        background-color: whitesmoke;

        border-color: var(--khaki);

        .card--title {
            color: var(--khaki);
        }
    }
}