
h1 {
    font-family: "Playfair Display";
    text-transform: uppercase;
}

h2 {
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 400;
}

h3 {
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 300;
}

h4 {
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 400;
}

p{
    font-family: "Montserrat";
    font-size: 24px;
}

a{
    font-family: "Montserrat";
}

@media only screen and (min-width: 768px) {

    .projets{
        color: var(--olive);
    }
    h1.logo{
        font-size: 60px;
        color: var(--carbon);
    }

    h1 {
        font-size: 110px;
    }

    h2 {
        font-size: 80px;
    }

    h3 {
        font-size: 55px;
    }

    h4 {
        font-size: 24px;
    }

    p{
        font-size: 20px;
    }

    h4.footer{
        font-size: 18px;
    }
    
}